<html>

    <head>
        <title>Item Catalog</title>
        <!--<link rel="stylesheet" href="../static/semantic-ui/semantic.min.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>

    <body>

        <div class="ui blue inverted menu">
            <div class="ui container">
                <div class="header item">
                Item Catalog
                </div>
                <a href="{{ url_for('index') }}" class="item">Home</a>

                {% if not session.username %}
                <div class="right menu">
                    <div class="ui right aligned item">
                        <a href="{{ url_for('login') }}">Login</a>
                    </div>
                </div>
                {% else %}
                <div class="right menu">
                    <div class="ui right aligned item">
                        Hi, {{ session.username }} (<a href="{{ url_for('logout') }}">Logout</a>)
                    </div>
                </div>

                {% endif %}

            </div>

        </div>

        <div class="ui container">
            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='jquery/jquery.min.js')}}"></script>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
        <script src="{{ url_for('static', filename='semantic-ui/semantic.min.js')}}"></script>
        <script src="{{ url_for('static', filename='script.js')}}"></script>
    </body>


</html>