{% extends 'base.html' %}

{% block content %}

    <h1>Product catalog</h1>

    <hr>

    <div class="ui grid">

        <div class="four wide column">
            <strong>Categories</strong>
            <br><br>
            {% if session.username %}
            <p><a href="{{ url_for('create_category') }}" class="ui mini blue button">+ category</a></p>
            {% endif %}

            <div class="cat-list">
                {% for cat in categories %}
                <div class="cat-item">
                    <a href="{{ url_for('view_category', category_id=cat.id) }}">{{ cat.name }}</a>
                    {% if session.username %}
                    <span class="cat-item-options hidden">(
                        <a href="{{ url_for('edit_category', category_id=cat.id) }}">edit</a> |
                        <a href="{{ url_for('delete_category', category_id=cat.id) }}">delete</a>)
                    </span>
                    {% endif %}
                </div>
                {% endfor %}

            </div>

        </div>

        <div class="twelve wide column">
            {% block catalog_content %}
                <h2>Most recent</h2>

                {% for item in items %}
                <p><a href="{{ url_for('view_item', item_id=item.id)}}">{{ item.name }}</a></p>
                {% endfor %}

            {% endblock %}
        </div>

    </div>
{% endblock %}