{% extends 'base.html' %}


{% block content %}
    <h1>Edit Item</h1>

    <form action="{{ url_for('edit_item', item_id=item.id) }}" method="post">
        <div class="ui form">

            <div class="field">
                <input type="text" name='item-name' placeholder="item name" value="{{ item.name }}">
            </div>

            <div class="field">
                <textarea name="item-description" id="" cols="50" rows="10" placeholder="description" value="{{ item.description }}"></textarea>
            </div>

            <button class="ui green button">Save</button>
        </div>
    </form>
{% endblock%}