{% extends 'base.html' %}

{% block content %}

    <div class="ui segment centered login">

        <h2>Social login</h2>

        <p>Click on the button below to log in.</p>

        <div id="signinButton">
            <span class="g-signin"
                data-scope="openid email"
                data-clientid="133319280197-uo4qalamtliganmnmregf7k37s5adokb.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>

        </div>

        <div id="result" class="ui positive message hidden">

        </div>


        <script>
            function signInCallback(authResult) {
              if (authResult['code']) {
                $('#signinButton').addClass('hidden');

                $.ajax({
                  type: 'POST',
                  url: '/gconnect?state={{ STATE }}',
                  processData: false,
                  contentType: 'application/octet-stream; charset=utf-8',
                  data: authResult['code'],
                  success: function(result) {
                    if (result) {
                      $('#result').removeClass('hidden').html('Login Successfull');
                      setTimeout(function() {
                        window.location.href = '/';
                      }, 2000);
                    }
                  }
                });
              }
            }

        </script>
    </div>

{% endblock %}